{
  "openapi": "3.0.1",
  "info": {
    "title": "Atlas Api",
    "description": "Api utilizada pela plataforma atlas da speedio",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.speedio.com.br/api/"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v4/companies/find_by_cnpj": {
      "get": {
        "description": "Retorna todos os dados que possuímos da empresa",
        "parameters": [
          {
            "name": "cnpj",
            "in": "query",
            "description": "Número do cnpj da empresa",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyEs"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Empresa não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Usuário não autenticado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CompanyEs": {
        "type": "object",
        "properties": {
          "cnpj": {
            "description": "Número do cnpj da empresa",
            "type": "string"
          },
          "name": {
            "description": "Nome da razão social",
            "type": "string"
          },
          "fantasyName": {
            "description": "Nome fantasia",
            "type": "string"
          },
          "revenue": {
            "description": "Faixa de faturamento",
            "type": "object",
            "properties": {
              "cnpjRevenue": {
                "description": "Faturamento por cnpj, ex: 1 a 80K",
                "type": "string"
              },
              "companyRevenue": {
                "description": "Faturamento da empresa, ex: 1 a 80K",
                "type": "string"
              }
            }
          },
          "address": {
            "description": "Endereço",
            "type": "object",
            "properties": {
              "cep": {
                "description": "cep",
                "type": "string"
              },
              "complement": {
                "description": "Complemento",
                "type": "string"
              },
              "neighborhood": {
                "description": "Bairro",
                "type": "string"
              },
              "city": {
                "description": "Cidade",
                "type": "string"
              },
              "state": {
                "description": "Sigla do estado, ex: MA",
                "type": "string"
              },
              "country": {
                "description": "País",
                "type": "string"
              },
              "geolocation": {
                "description": "Coordenadas geográficas",
                "type": "object",
                "properties": {
                  "lon": {
                    "description": "Longitude",
                    "type": "number"
                  },
                  "lat": {
                    "description": "Longitude",
                    "type": "number"
                  }
                }
              }
            }
          },
          "administrationData": {
            "type": "object",
            "properties": {
              "decision_makers": {
                "description": "Listagem dos decisores da empresa",
                "type": "array",
                "items": {
                  "type":  "object",
                  "properties": {
                    "summary": {
                      "type": "string",
                      "description": "Descrição do linkedin"
                    },
                    "level": {
                      "type": "string",
                      "description": "Nível do decisor"
                    },
                    "lkd_url": {
                      "type": "string",
                      "description": "Url do linkedin"
                    },
                    "company_name": {
                      "type": "string",
                      "description": "Nome da empresa do decisor"
                    },
                    "name": {
                      "type": "string",
                      "description": "Nome do decisor"
                    },
                    "mchecker_email": {
                      "type": "string",
                      "description": "Email do decisor"
                    },
                    "location": {
                      "type": "string",
                      "description": "Endereço do decisor, ex: Guará, Distrito Federal, Brasil"
                    },
                    "position": {
                      "type": "string",
                      "description": "Cargo do decisor, ex: Médico"
                    },
                    "department": {
                      "type": "string",
                      "description": "Departamento do decisor, ex: Operacional"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}