{
  "openapi": "3.0.1",
  "info": {
    "title": "Atlas Api",
    "description": "Api utilizada pela plataforma atlas da speedio",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.speedio.com.br/api/"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v4/info_sets": {
      "get": {
        "description": "Retorna a listagem de info_sets de forma paginada",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Filtro de nome",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagina",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoSet"
                }
              }
            }
          },
          "403": {
            "description": "Sem autorização para consultar este cnpj, caso ainda não tenha consultado o mesmo no endpoint find_by_cnpj",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV4"
                }
              }
            }
          },
          "401": {
            "description": "Usuário não autenticado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV3"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Cria um novo InfoSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Usuário não autenticado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV3"
                }
              }
            }
          }
        }
      }
    },
    "/v4/info_sets/{info_set_id}/companies": {
      "get": {
        "description": "Retorna a listagem de empresas de um info_set de forma paginada e reduzida",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Filtro de nome",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagina",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySummary"
                }
              }
            }
          },
          "404": {
            "description": "InfoSet não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV4"
                }
              }
            }
          },
          "401": {
            "description": "Usuário não autenticado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV3"
                }
              }
            }
          }
        }
      }
    },
    "/v4/companies/{cnpj}/cnpjs_group": {
      "get": {
        "description": "Retorna os cnpjs relacionados ao enviado",
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "description": "Número do cnpj da empresa",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Sem autorização para consultar este cnpj, caso ainda não tenha consultado o mesmo no endpoint find_by_cnpj",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV4"
                }
              }
            }
          },
          "401": {
            "description": "Usuário não autenticado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV3"
                }
              }
            }
          }
        }
      }
    },
    "/v4/companies/find_by_cnpj": {
      "get": {
        "description": "Retorna todos os dados que possuímos da empresa",
        "parameters": [
          {
            "name": "cnpj",
            "in": "query",
            "description": "Número do cnpj da empresa",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyEs"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Empresa não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV4"
                }
              }
            }
          },
          "401": {
            "description": "Usuário não autenticado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV3"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "InfoSet": {
        "type": "object",
        "properties": {
          "author_id": {
            "description": "Id do autor",
            "type": "string"
          },
          "name": {
            "description": "Nome do InfoSet",
            "type": "string"
          },
          "createdAt": {
            "description": "Data de criação(2024-05-15T18:47:44.251Z)",
            "type": "string"
          },
          "star": {
            "description": "Indicativo de estar ou não favoritado",
            "type": "boolean"
          },
          "description": {
            "description": "Descrição do InfoSet(campo legado)",
            "type": "string"
          },
          "emails_validation_status": {
            "description": "Status de validação de emails",
            "type": "string",
            "enum": ["not initialized", "requested", "sended", "finished"]
          },
          "phones_validation_status": {
            "description": "Status de validação de telefones",
            "type": "string",
            "enum": ["not initialized", "requested", "sended", "finished"]
          }
        }
      },   
      "CompanySummary": {
        "type": "object",
        "properties": {
          "total": {
            "description": "Total de empresas que o InfoSet possui",
            "type": "integer"
          },
          "name": {
            "description": "Nome do InfoSet",
            "type": "string"
          },
          "updated_at": {
            "description": "Data de criação(2024-05-15T18:47:44.251Z)",
            "type": "string"
          },
          "star": {
            "description": "Indicativo de estar ou não favoritado",
            "type": "boolean"
          },
          "companies": {
            "description": "Listagem de empresas",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "description": "id da empresa",
                  "type": "string"
                },
                "name": {
                  "description": "Nome fantasia ou razão social da empresa",
                  "type": "string"
                },
                "area": {
                  "description": "Setor da empresa",
                  "type": "string"
                },
                "employees": {
                  "description": "Faixa de funcionarios",
                  "type": "object",
                  "properties": {
                    "company": {
                      "type": "string",
                      "description": "intervalo de funcionarios da empresa(1 a 5)"
                    },
                    "cnpj": {
                      "type": "string",
                      "description": "intervalo de funcionarios do cnpj(1 a 5)"
                    }
                  }
                },
                "address": {
                  "type": "object",
                  "properties": {
                    "city": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  }
                },
                "number_cnpj": {
                  "type": "string",
                  "description": "Cnpj da empresa"
                }
              }
            }
          }
        }
      },   
      "CompanyEs": {
        "type": "object",
        "properties": {
          "cnpj": {
            "description": "Número do cnpj da empresa",
            "type": "string"
          },
          "name": {
            "description": "Nome da razão social",
            "type": "string"
          },
          "foundedAt": {
            "description": "Data da fundação da empresa DD/MM/AAAA",
            "type": "string"
          },
          "createdCnpjAt": {
            "description": "Data da criação do cnpj DD/MM/AAAA",
            "type": "string"
          },
          "juridicalNature": {
            "description": "Natureza Jurídica",
            "type": "string"
          },
         "additionalData": {
            "description": "Dados adicionais",
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "title": "full_qsa",
                  "type": "object",
                  "properties": {
                    "full_qsa": {
                      "type": "array",
                      "description": "Quadro Societário",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dt_society_entrance": {
                            "description": "Data de entrada AAAA-MM-DD",
                            "type": "string"
                          },
                          "name": {
                            "description": "Nome do sócio",
                            "type": "string"
                          },
                          "position": {
                            "description": "posição do sócio",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                {
                  "title": "pgfn_debts",
                  "type": "object",
                  "properties": {
                    "pgfn_debts": {
                      "type": "object",
                      "description": "Dívidas em aberto",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "title": "dividas_totais",
                                "type": "object",
                                "properties": {
                                  "dividas_totais": {
                                    "type": "object",
                                    "properties": {
                                      "valor": { 
                                        "type": "string",
                                        "description": "Dividas totais"
                                      }
                                    }
                                  }
                                }
                              },
                              {
                                "title": "demaisdebitos_tributarios",
                                "type": "object",
                                "properties": {
                                  "demaisdebitos_tributarios": {
                                    "type": "object",
                                    "properties": {
                                      "valor": { 
                                        "type": "string",
                                        "description": "Demais débitos tributários"
                                      }
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              ]
            }
          },

          "fantasyName": {
            "description": "Nome fantasia",
            "type": "string"
          },
          "revenue": {
            "description": "Faixa de faturamento",
            "type": "object",
            "properties": {
              "cnpjRevenue": {
                "description": "Faturamento por cnpj, ex: 1 a 80K",
                "type": "string"
              },
              "companyRevenue": {
                "description": "Faturamento da empresa, ex: 1 a 80K",
                "type": "string"
              }
            }
          },
          "address": {
            "description": "Endereço",
            "type": "object",
            "properties": {
              "cep": {
                "description": "cep",
                "type": "string"
              },
              "complement": {
                "description": "Complemento",
                "type": "string"
              },
              "neighborhood": {
                "description": "Bairro",
                "type": "string"
              },
              "city": {
                "description": "Cidade",
                "type": "string"
              },
              "state": {
                "description": "Sigla do estado, ex: MA",
                "type": "string"
              },
              "country": {
                "description": "País",
                "type": "string"
              },
              "geolocation": {
                "description": "Coordenadas geográficas",
                "type": "object",
                "properties": {
                  "lon": {
                    "description": "Longitude",
                    "type": "number"
                  },
                  "lat": {
                    "description": "Longitude",
                    "type": "number"
                  }
                }
              }
            }
          },
          "cnaes": {
            "description": "Cnaes da empresa",
            "type": "object",
            "properties": {
              "primary": {
                "description": "Descrição do cnae primario",
                "type": "string"
              },
              "primaryId": {
                "description": "Numeração do cnae primario",
                "type": "string"
              },
              "secondary": {
                "description": "Descrições do cnaes secundários",
                "type": "string"
              },
              "secondaryId": {
                "description": "Lista com as numerações dos cnaes secundários",
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "area": {
            "type": "string",
            "description": "Setor da empresa, similar a descrição do cnae primário"
          },
          "cnpjsGroup": {
            "description": "10 primeiros cnpjs da empresa(filiais)",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "totalCnpjs": {
            "type": "integer",
            "description": "quantidade total de cnpjs da empresa"
          },
          "additionalContactData": {
            "type": "object",
            "description": "Contém a lista de emails, endereços e telefones",
            "properties": {
              "emails": {
                "type": "array",
                "description": "Lista de emails da empresa",
                "items": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "description": "Email",
                      "type": "string"
                    },
                    "score": {
                      "type": "string",
                      "description": "Numeração que indica o nível de confiabilidade do email baseado na quantidade de fontes de onde ele veio"
                    },
                    "origins": {
                      "type": "array",
                      "description": "lista de origens de onde o dado foi coletado, exemplo 'dados coletados da web', 'Receita Federal'",
                      "items": { "type": "string" }
                    },
                    "flags": {
                      "type": "array",
                      "description": "Até o momento usado apenas para identificar se pertence ou não a contador",
                      "items": { "type": "string" }
                    }
                  }
                }
              },
              "address": {
                "type": "array",
                "description": "Lista de emails da empresa",
                "items": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "description": "Endereço",
                      "type": "string"
                    },
                    "score": {
                      "type": "string",
                      "description": "Numeração que indica o nível de confiabilidade do email baseado na quantidade de fontes de onde ele veio"
                    },
                    "origins": {
                      "type": "array",
                      "description": "lista de origens de onde o dado foi coletado, exemplo 'dados coletados da web', 'Receita Federal'",
                      "items": { "type": "string" }
                    },
                    "flags": {
                      "type": "array",
                      "description": "Até o momento usado apenas para identificar se pertence ou não a contador",
                      "items": { "type": "string" }
                    }
                  }
                }
              },
              "phones": {
                "type": "array",
                "description": "Lista de emails da empresa",
                "items": {
                  "type": "object",
                  "properties": {
                    "phone": {
                      "description": "Número de telefone",
                      "type": "string"
                    },
                    "score": {
                      "type": "string",
                      "description": "Numeração que indica o nível de confiabilidade do email baseado na quantidade de fontes de onde ele veio"
                    },
                    "origins": {
                      "type": "array",
                      "description": "lista de origens de onde o dado foi coletado, exemplo 'dados coletados da web', 'Receita Federal'",
                      "items": { "type": "string" }
                    },
                    "flags": {
                      "type": "array",
                      "description": "Até o momento usado apenas para identificar se pertence ou não a contador",
                      "items": { "type": "string" }
                    }
                  }
                }
              }
            }
          },
          "administrationData": {
            "type": "object",
            "properties": {
              "decision_makers": {
                "description": "Listagem dos decisores da empresa",
                "type": "array",
                "items": {
                  "type":  "object",
                  "properties": {
                    "summary": {
                      "type": "string",
                      "description": "Descrição do linkedin"
                    },
                    "level": {
                      "type": "string",
                      "description": "Nível do decisor(Não classificado, Alto, Médio, Baixo)"
                    },
                    "lkd_url": {
                      "type": "string",
                      "description": "Url do linkedin"
                    },
                    "company_name": {
                      "type": "string",
                      "description": "Nome da empresa do decisor"
                    },
                    "name": {
                      "type": "string",
                      "description": "Nome do decisor"
                    },
                    "mchecker_email": {
                      "type": "string",
                      "description": "Email do decisor"
                    },
                    "location": {
                      "type": "string",
                      "description": "Endereço do decisor, ex: Guará, Distrito Federal, Brasil"
                    },
                    "position": {
                      "type": "string",
                      "description": "Cargo do decisor, ex: Médico"
                    },
                    "department": {
                      "type": "string",
                      "description": "Departamento do decisor, ex: Operacional"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErrorV3": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorV4": {
        "required": [
          "error",
          "details"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "description": "Descrição menos técnica",
            "type": "string"
          },
          "details": {
            "description": "Descrição mais detalhada com fins de melhorar a debugação do problema",
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}